<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>eHealth Certificate Service</title>
</head>

<body class="uk-background-muted">
<div class="uk-padding">
    <div class="uk-card uk-margin uk-default uk-card-body uk-background-default">
        <h2 class="">Input Data</h2>
        <div class="" uk-grid>
            <div><h3>Previously Infected</h3>
                <pre id="data_pastInfected" th:text="${pastInfectedJson}"></pre>

                <button class="uk-button-default uk-margin uk-padding-small uk-align-center"
                        onclick="document.getElementById('vaccinationData').value = document.getElementById('data_pastInfected').textContent;">
                    Fill in data
                </button>
            </div>

            <div><h3>Vaccinated</h3>
                <pre id="data_vaccinated" th:text="${vaccinatedJson}"></pre>
                <button class="uk-button-default uk-margin uk-padding-small uk-align-center"
                        onclick="document.getElementById('vaccinationData').value = document.getElementById('data_vaccinated').textContent;">
                    Fill in data
                </button>
            </div>

            <div><h3>Tested</h3>
                <pre id="data_tested" th:text="${testedJson}"></pre>
                <button class="uk-button-default uk-margin uk-padding-small uk-align-center"
                        onclick="document.getElementById('vaccinationData').value = document.getElementById('data_tested').textContent;">
                    Fill in data
                </button>
            </div>

        </div>
    </div>

    <div class="uk-card uk-margin uk-default uk-card-body uk-background-default uk-flex-wrap">
        <h2 class="">Certificate Generation</h2>
        <div uk-grid>
            <div>
                <form action="/certservice/generate" method="post">
                    <label class="uk-form-label" for="vaccinationData">Input Data</label><br/>
                    <textarea class="uk-textarea" id="vaccinationData" name="vaccinationData" rows="25" cols="50"
                              required></textarea><br/>
                    <input class="uk-button-default uk-margin uk-padding-small uk-align-center" value="Generate COSE"
                           type="submit">
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>